html,
body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Logo {
  color: green;
  font-weight: bold;
}
